.home-page-component {
    a {
        color: #000
    }
}
body {
    background-color: #ccc;
}
.header-component {
    li {
        a {
            color: #000;
            font-size: 1.5rem;
            font-weight: 900;
            cursor: pointer;
            &:hover, &:focus{
                background-color: #5bc0de;
                border: 1px solid #5bc0de;
                color: #fff;
            }
        }
    }
    .active {
        color: #5bc0de;
    }
}
